
.depicter-revert.depicter-180 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-180-element-118:not(.depicter-hover-off){
	transition:all ease 1s;
}
.depicter-180-element-118 .depicter-arrow-icon{
	fill:#a0a0a0;
	transition:all ease 1s;
}
.depicter-180-element-118:not(.depicter-hover-off):hover .depicter-arrow-icon{
	fill:#000000;
}
.depicter-revert .depicter-180-element-119:not(.depicter-hover-off){
	transition:all ease 1s;
}
.depicter-180-element-119 .depicter-arrow-icon{
	fill:#a0a0a0;
	transition:all ease 1s;
}
.depicter-180-element-119:not(.depicter-hover-off):hover .depicter-arrow-icon{
	fill:#000000;
}
.depicter-180-element-120 .depicter-bullet-item{
	background-color:rgba(0, 0, 0, 0.15);
	border-radius:0px 0px 0px 0px ;
	width:25px;
	height:2px;
}
.depicter-180-element-120 .depicter-bullet-item.depicter-bullet-active{
	background-color:#d8003c;
}
.depicter-180-element-120 .depicter-bullets-wrapper{
	gap:5px;
	flex-direction:row;
}
.depicter-revert .depicter-180-element-311{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
	border-radius:50%;
}
.depicter-revert .depicter-180-element-310{
	font-size:81px;
	color:#d8003c;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-309{
	font-size:17px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-308{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-307{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-306{
	font-size:16px;
	text-align:left;
	color:#d8003c;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-305{
	background-color:#fafafa;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-304{
	background-color:#d8003c;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-303{
	background-color:#d8003c;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-302{
	background-color:#d8003c;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-301{
	background-color:#d8003c;
	border-radius:500px;
}
.depicter-revert .depicter-180-section-300 .depicter-section-background{
	background-color:#FAFAFA;
}
.depicter-revert .depicter-180-element-115{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
	border-radius:50%;
}
.depicter-revert .depicter-180-element-113{
	font-size:81px;
	color:#b6cc22;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-112{
	font-size:17px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-111{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-110{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-109{
	font-size:16px;
	text-align:left;
	color:#b6cc22;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-108{
	background-color:#FAFAFA;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-107{
	background-color:#b6cc22;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-106{
	background-color:#b6cc22;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-105{
	background-color:#b6cc22;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-104{
	background-color:#b6cc22;
	border-radius:500px;
}
.depicter-revert .depicter-180-section-103 .depicter-section-background{
	background-color:#FAFAFA;
}
.depicter-revert .depicter-180-element-237{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
	border-radius:50%;
}
.depicter-revert .depicter-180-element-236{
	font-size:81px;
	color:#0036ca;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-235{
	font-size:17px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-233{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-232{
	font-size:16px;
	text-align:left;
	color:#0036ca;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-231{
	background-color:#FAFAFA;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-230{
	background-color:#0036ca;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-229{
	background-color:#0036ca;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-228{
	background-color:#0036ca;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-227{
	background-color:#0036ca;
	border-radius:500px;
}
.depicter-revert .depicter-180-section-226 .depicter-section-background{
	background-color:#FAFAFA;
}
.depicter-revert .depicter-180-element-250{
	font-size:81px;
	text-align:left;
	color:#bebea2;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-249{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
	border-radius:50%;
}
.depicter-revert .depicter-180-element-248{
	font-size:81px;
	color:#BEBEA2;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-247{
	font-size:17px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-246{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-245{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-244{
	font-size:16px;
	text-align:left;
	color:#bebea2;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-243{
	background-color:#FAFAFA;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-242{
	background-color:#BEBEA2;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-241{
	background-color:#BEBEA2;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-240{
	background-color:#BEBEA2;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-239{
	background-color:#BEBEA2;
	border-radius:500px;
}
.depicter-revert .depicter-180-section-238 .depicter-section-background{
	background-color:#FAFAFA;
}
.depicter-revert .depicter-180-element-262{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
	border-radius:50%;
}
.depicter-revert .depicter-180-element-261{
	font-size:81px;
	color:#84deff;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-260{
	font-size:17px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-259{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-258{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-257{
	font-size:16px;
	text-align:left;
	color:#84deff;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-256{
	background-color:#FAFAFA;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-255{
	background-color:#84DEFF;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-254{
	background-color:#84DEFF;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-253{
	background-color:#84DEFF;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-252{
	background-color:#84DEFF;
	border-radius:500px;
}
.depicter-revert .depicter-180-section-251 .depicter-section-background{
	background-color:#FAFAFA;
}
.depicter-revert .depicter-180-element-274{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
	border-radius:50%;
}
.depicter-revert .depicter-180-element-273{
	font-size:81px;
	color:#8d4444;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-272{
	font-size:17px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-271{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-270{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-269{
	font-size:16px;
	text-align:left;
	color:#8d4444;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-268{
	background-color:#FAFAFA;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-267{
	background-color:#8D4444;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-266{
	background-color:#8D4444;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-265{
	background-color:#8D4444;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-264{
	background-color:#8d4444;
	border-radius:500px;
}
.depicter-revert .depicter-180-section-263 .depicter-section-background{
	background-color:#FAFAFA;
}
.depicter-revert .depicter-180-element-287{
	font-size:81px;
	color:#772185;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-286{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
	border-radius:50%;
}
.depicter-revert .depicter-180-element-285{
	font-size:81px;
	color:#772185;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-284{
	font-size:17px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-283{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-282{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-281{
	font-size:16px;
	text-align:left;
	color:#772185;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-280{
	background-color:#FAFAFA;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-279{
	background-color:#772185;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-278{
	background-color:#772185;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-277{
	background-color:#772185;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-276{
	background-color:#772185;
	border-radius:500px;
}
.depicter-revert .depicter-180-section-275 .depicter-section-background{
	background-color:#FAFAFA;
}
.depicter-revert .depicter-180-element-298{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
	border-radius:50%;
}
.depicter-revert .depicter-180-element-297{
	font-size:81px;
	color:#eebe06;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-296{
	font-size:17px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-295{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-294{
	font-size:16px;
	text-align:left;
	color:#eebe06;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-293{
	background-color:#FAFAFA;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-292{
	background-color:#EEBE06;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-291{
	background-color:#EEBE06;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-290{
	background-color:#EEBE06;
	border-radius:30px;
}
.depicter-revert .depicter-180-element-289{
	background-color:#EEBE06;
	border-radius:500px;
}
.depicter-revert .depicter-180-section-288 .depicter-section-background{
	background-color:#FAFAFA;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-180-element-311{
	transform:scaleX(1);
}
.depicter-revert .depicter-180-element-310{
	font-size:70px;
	color:#d8003c;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-element-308{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-element-307{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-element-115{
	transform:scaleX(1);
}
.depicter-revert .depicter-180-element-113{
	font-size:70px;
	color:#b6cc22;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-element-111{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-element-110{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-237{
	transform:scaleX(1);
}
.depicter-revert .depicter-180-element-236{
	font-size:70px;
	color:#0036ca;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-element-233{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-element-250{
	font-size:60px;
	color:#bebea2;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-element-249{
	transform:scaleX(1);
}
.depicter-revert .depicter-180-element-248{
	font-size:60px;
	color:#BEBEA2;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-element-246{
	font-size:60px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-245{
	font-size:60px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-section-238 .depicter-section-background{
	background-color:#FAFAFA;
}
.depicter-revert .depicter-180-element-262{
	transform:scaleX(1);
}
.depicter-revert .depicter-180-element-261{
	font-size:63px;
	color:#84deff;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-4px;
}
.depicter-revert .depicter-180-element-259{
	font-size:63px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-4px;
}
.depicter-revert .depicter-180-element-258{
	font-size:63px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-4px;
}
.depicter-revert .depicter-180-element-274{
	transform:scaleX(1);
}
.depicter-revert .depicter-180-element-273{
	font-size:63px;
	color:#8d4444;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-element-271{
	font-size:63px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-element-270{
	font-size:63px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-element-287{
	font-size:60px;
	color:#772185;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-element-286{
	transform:scaleX(1);
}
.depicter-revert .depicter-180-element-285{
	font-size:60px;
	color:#772185;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-element-283{
	font-size:60px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-element-282{
	font-size:60px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-element-298{
	transform:scaleX(1);
}
.depicter-revert .depicter-180-element-297{
	font-size:70px;
	color:#eebe06;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-element-295{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-180-element-294{
	font-size:16px;
	text-align:left;
	color:#eebe06;
	font-family:"Quicksand";
	font-weight:500;
	line-height:130%;
	letter-spacing:5px;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-180-element-311{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-180-element-310{
	font-size:43px;
	color:#d8003c;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-2px;
}
.depicter-revert .depicter-180-element-309{
	font-size:13px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
}
.depicter-revert .depicter-180-element-308{
	font-size:43px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-2px;
}
.depicter-revert .depicter-180-element-307{
	font-size:43px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-2px;
}
.depicter-revert .depicter-180-element-305{
	background-color:#ffffff;
}
.depicter-revert .depicter-180-section-300 .depicter-section-background{
	background-color:#ffffff;
}
.depicter-revert .depicter-180-element-115{
	transform:scaleX(1);
}
.depicter-revert .depicter-180-element-113{
	font-size:45px;
	color:#b6cc22;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-180-element-112{
	font-size:13px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
}
.depicter-revert .depicter-180-element-111{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-180-element-110{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-180-element-108{
	background-color:#ffffff;
}
.depicter-revert .depicter-180-section-103 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-180-element-237{
	transform:scaleX(1);
}
.depicter-revert .depicter-180-element-236{
	font-size:45px;
	color:#0036ca;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-180-element-235{
	font-size:13px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
}
.depicter-revert .depicter-180-element-233{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-180-element-231{
	background-color:#ffffff;
}
.depicter-revert .depicter-180-section-226 .depicter-section-background{
	background-color:#ffffff;
}
.depicter-revert .depicter-180-element-250{
	font-size:40px;
	color:#bebea2;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-180-element-249{
	transform:scaleX(1);
}
.depicter-revert .depicter-180-element-248{
	font-size:40px;
	color:#BEBEA2;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
	background-color:transparent;
}
.depicter-revert .depicter-180-element-247{
	font-size:13px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
}
.depicter-revert .depicter-180-element-246{
	font-size:40px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-180-element-245{
	font-size:40px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-180-element-243{
	background-color:#ffffff;
}
.depicter-revert .depicter-180-section-238 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-180-element-262{
	transform:scaleX(1);
}
.depicter-revert .depicter-180-element-261{
	font-size:43px;
	color:#84deff;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-2px;
}
.depicter-revert .depicter-180-element-260{
	font-size:13px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
}
.depicter-revert .depicter-180-element-259{
	font-size:43px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-2px;
}
.depicter-revert .depicter-180-element-258{
	font-size:43px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-2px;
}
.depicter-revert .depicter-180-element-256{
	background-color:#ffffff;
}
.depicter-revert .depicter-180-section-251 .depicter-section-background{
	background-color:#ffffff;
}
.depicter-revert .depicter-180-element-274{
	transform:scaleX(1);
}
.depicter-revert .depicter-180-element-273{
	font-size:43px;
	color:#8d4444;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-2px;
}
.depicter-revert .depicter-180-element-272{
	font-size:13px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
}
.depicter-revert .depicter-180-element-271{
	font-size:43px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-2px;
}
.depicter-revert .depicter-180-element-270{
	font-size:43px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-2px;
}
.depicter-revert .depicter-180-element-268{
	background-color:#ffffff;
}
.depicter-revert .depicter-180-section-263 .depicter-section-background{
	background-color:#ffffff;
}
.depicter-revert .depicter-180-element-287{
	font-size:40px;
	color:#772185;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-180-element-286{
	transform:scaleX(1);
}
.depicter-revert .depicter-180-element-285{
	font-size:40px;
	color:#772185;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-180-element-284{
	font-size:13px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
}
.depicter-revert .depicter-180-element-283{
	font-size:40px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-180-element-282{
	font-size:40px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-180-element-280{
	background-color:#ffffff;
}
.depicter-revert .depicter-180-section-275 .depicter-section-background{
	background-color:#ffffff;
}
.depicter-revert .depicter-180-element-298{
	transform:scaleX(1);
}
.depicter-revert .depicter-180-element-297{
	font-size:45px;
	color:#eebe06;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-180-element-296{
	font-size:13px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
}
.depicter-revert .depicter-180-element-295{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-180-element-293{
	background-color:#ffffff;
}
.depicter-revert .depicter-180-section-288 .depicter-section-background{
	background-color:#ffffff;
}

}
